<div class="container">
  <div class="row">
    <div class="col-6"></div>
    <div class="col-6">
      <div>
        <label for="txt-product-name" class="form-label"> Product Name</label>
        <input
          title="txt-product-name"
          type="text"
          name="txt-product-name"
          class="form-control"
          id="txt-product-name"
          [(ngModel)]="product.name"
        />
      </div>

      <div class="mt-2">
        <label for="txt-product-description" class="form-label">
          Product Description</label
        >
        <input
          title="txt-product-description"
          type="text"
          name="txt-product-description"
          class="form-control"
          id="txt-product-description"
          [(ngModel)]="product.description"
        />
      </div>

      <div class="mt-2">
        <label for="select-product-category" class="form-label">
          Category</label
        >
        <select
          title="select-product-category"
          class="form-select"
          name="select-product-category"
          id="select-product-category"
          [(ngModel)]="product.category"
        >
          <option value="beverage">Beverage</option>
          <option value="bun">Bun</option>
        </select>
      </div>

      <div class="mt-2">
        <label for="txt-product-price" class="form-label"> Product price</label>
        <input
          title="txt-product-price"
          type="number"
          name="txt-product-price"
          class="form-control"
          id="txt-product-price"
          [(ngModel)]="product.price"
        />
      </div>

      <button (click)="onClick()" class="btn btn-primary mt-3">Register</button>
    </div>
  </div>
</div>
